.room-wrapper {
  height: 90%;
  display: block !important;
  /* background-color: #ECECEC; */
  background-color: #202124;
  color: #ffffff;
}

.session {
  height: 100%;
  /* min-height, max-height no inheritance */
  min-height: calc(100% - 60px);
  max-height: calc(100% - 60px);
  padding: 0 1rem;
}

.divider {
  display: flex;
  height: 100%;
}
.partition-left{
  display: flex;
  flex-wrap: wrap;
  height: 90%;
}

.partition {
  flex: 5;
}

.partition-right {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
}

.panel {
  flex: 1;
  min-width: 20%;
  height: 1000px;
  justify-content: center;
  padding-left: 1rem;
}

.panelChild {
  background-color: #ffffff;
  height: 80%;
  border-radius: 1rem;
  padding: 1rem;
  color: #000000;
}

.container {
  display: flex;
}

.footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block !important;
  background-color: #202124;
  color: #ffffff;
}

.footer-child {
  display: flex;
  flex: 1;
  margin: 0px 0px 0px 0px;
}

.controller {
  justify-content: center;
  align-items: center;
}

.communication {
  justify-content: flex-end;
  align-items: center;
  margin-right: 22px;
}
#main-video {
  display: flex;
}

#video-container {
  display: flex;
  flex-wrap: wrap;
  height: 50%;


}

.candidates {
  /* display: flex; */
  /* flex: 1; */
  margin: 0px 10px 5px 10px;
}

